<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.CaptureRepository">

<!-- id의 값은 Repository 인터페이스에서 선언하는 메서드 이름. -->

    <!-- 목록 -->
    <select id="selectWithReplyCount" 
        resultType="com.itwill.spring2.dto.CaptureListDto">
        select c.id, c.content, c.capture_image_id, c.writer, c.created_time, 
                i.images_loc,
                i.images_type
                
        from capture c, IMAGES i
        where 
             c.capture_image_id = i.restaurant_id
    </select>
    
    <insert id="insert">
        insert into CAPTURE (CONTENT, CREATED_TIME, MODIFIED_TIME)
        values (#{content}, systimestamp, systimestamp)
    </insert>
    
    <!-- 디테일 -->
    <select id="selectById" 
        resultType="com.itwill.spring2.domain.Capture">
        select 
        c.id
        , c.content
        , c.capture_image_id
        , c.writer
        , c.created_time
        , c.modified_time
        , i.images_loc
        , i.images_type
        
        from capture c, images i 
        where c.capture_image_id = i.images_loc and ID = #{id}
    </select>
    
    <!-- 업데이트 -->
    <update id="updateContent">
        update CAPTURE 
        set CONTENT = #{content}, MODIFIED_TIME = systimestamp
        where ID = #{id}
    </update>
    <!-- 삭제 -->
    <delete id="deleteById">
        delete from CAPTURE where ID = #{id}
    </delete>
    
    <!-- 검색 -->
    <select id="selectByKeyword" resultType="com.itwill.spring2.dto.CaptureListDto">
        SELECT * 
        FROM capture
        WHERE content LIKE '%' || #{keyword} || '%'
    </select>
    
    <!-- 페이징 -->
    <select id="captureListRead" resultType="com.itwill.spring2.dto.CaptureListDto">
    <![CDATA[
    SELECT *
    FROM (
        SELECT /*+INDEX_DESC */ rownum rn,
            c.id,
            c.content,
            c.capture_image_id,
            c.writer,
            c.created_time,
            i.images_loc,
                i.images_type
        FROM capture c, IMAGES i
        WHERE  
        c.capture_image_id = i.restaurant_id and
        c.id > 0
        AND rownum <= (#{pageNum} * #{amount})
    )
    WHERE rn > ((#{pageNum} - 1) * #{amount})
    ]]>
    </select>
</mapper>
