<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.CaptureRepository">

<!-- id의 값은 Repository 인터페이스에서 선언하는 메서드 이름. -->

    <select id="selectWithReplyCount" 
        resultType="com.itwill.spring2.dto.CaptureListDto">
        select c.id, c.content, c.capture_image_id, c.writer, c.created_time
        from capture c
    </select>
    
    <insert id="insert">
        insert into CAPTURE (CONTENT, CAPTURE_IMAGE_ID, WRITER, CREATED_TIME, MODIFIED_TIME)
        values (#{content},#{capture_image_id} ,#{writer}, systimestamp, systimestamp)
    </insert>
    
    <select id="selectById" 
        resultType="com.itwill.spring2.domain.Capture">
        select * from CAPTURE where ID = #{id}
    </select>
    
    
    <delete id="deleteById">
        delete from CAPTURE where ID = #{id}
    </delete>
    
    <select id="selectByKeyword" resultType="com.itwill.spring2.dto.CaptureListDto">
        SELECT * 
        FROM capture
        WHERE content LIKE '%' || #{keyword} || '%'
    </select>
    
</mapper>
