<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.MakgoraRepository">
<!-- namespace의 값은 PostRepository 인터페이스가 있는 패키지 이름과 인터페이스 이름. -->
    <insert id="insert">
    	insert into MAKGORA (TITLE, CONTENT, MAKGORA_IMAGE_ID, WRITER, MAKGORA_TYPE)
    	values (#{title}, #{content}, #{makgora_image_id}, #{writer}, #{makgora_type}) 
    </insert>
	
	
</mapper>
