<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.MyPageRepository">
<!-- namespace의 값은 PostRepository 인터페이스가 있는 패키지 이름과 인터페이스 이름. -->

<select id="readReviewByUsername" resultType="com.itwill.spring2.dto.MyPageReviewedDto">
	select r.id, r.name, r.name_info, v.reply_text 
	from restaurant r, reviews v
	where r.id=v.restaurant_id
	and v.writer = #{username}
	order by r.id desc
</select>

<select id="readPurchaseByUsername" resultType="com.itwill.spring2.dto.MyPagePurchasedDto">
	select r.id, r.name, r.name_info
	from restaurant r, reserve s
	where r.id=s.restaurant_id
	and s.username = #{username}
	order by r.id desc
</select>



<select id="readBookmarkedByUsername" resultType="com.itwill.spring2.dto.MyPageBookmarkedDto">
	select r.id, r.name, r.name_info 
	from restaurant r, bookmark b
	where r.id = b.restaurant_id
	and b.username = #{username}
	order by r.id desc
</select>

<select id="readStarscoreByUsername" resultType="com.itwill.spring2.dto.MyPageStarScoreDto">
	select r.id, r.name, r.name_info, v.reply_text, v.star_score
	from restaurant r, reviews v
	where r.id=v.restaurant_id
	and v.writer = 'chklee1'
	order by r.id desc
</select>

</mapper>