<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.ReserveRepository">
<!-- namespace의 값은 PostRepository 인터페이스가 있는 패키지 이름과 인터페이스 이름. -->
    <insert id="insert">
    	insert into RESERVE (RESTAURANT_ID, RESERVE_DATE, MEMBERS, RESERVE_TIME)
    	values (#{restaurant_id}, #{reserve_date}, #{members}, #{reserve_time})
    </insert>
	
	
</mapper>
