<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.spring2.repository.RestaurantRepository">

<select id="selectById" resultType="com.itwill.spring2.dto.RestaurantDto">
   select 
r.ID                                                                     
,r.NAME                          
,r.NAME_INFO                                                   
,r.PHONE_NUM                     
,r.FOOD_TYPE1                      
,r.FOOD_TYPE2                      
,r.FOOD_TYPE3                      
,r.BUSINESS_START_HOUR                     
,r.BUSINESS_END_HOUR                       
,r.LAST_ORDER                    
,r.HOLIDAY                       
,r.WEB_LINK                      
,r.LOW_PRICE_RANGE                         
,r.HIGH_PRICE_RANGE                        
,r.MAX_MEMBERS
,m.X
,m.Y
,u.MENU1_NAME             
,u.MENU1_PRICE                       
,u.MENU2_NAME             
,u.MENU2_PRICE                       
,u.MENU3_NAME             
,u.MENU3_PRICE                                                   
,a.address1
,a.address2
,i.images_loc
,i.images_type
from restaurant r, maps m, menus u, address a, images i
where r.id = m.RESTAURANT_ID  
    and r.id = u.RESTAURANT_ID 
    and r.id = a.RESTAURANT_ID
    and r.id = i.RESTAURANT_ID
and r.id = #{id}
</select>

<select id="selectByPostId" resultType="com.itwill.spring2.domain.Review">
    select r.Id, w.REPLY_TEXT, w.CREATED_TIME, w.MODIFIED_TIME, w.WRITER
    from restaurant r, reviews w
    where r.ID = w.RESTAURANT_ID
    and r.ID = #{id}
    
</select>



</mapper>