@charset "UTF-8";

.jeju {
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
}

button.btn1 {
	/* 기본 스타일 */
	position: absolute;
	top: 235px;
	left: 1px;
	margin-top: 136px;
	margin-bottom: 0px;
	margin-left: 237px;
	padding-left: 6px;
	height: 42px;
	width: 80px;
	/* 마우스 오버 효과 */
	background-color: transparent;
	color: white;
	border: none;
	transition: background-color 0.3s ease;
}

button.btn1:hover {
	background-color: rgba(255, 255, 255, 0.3);
}